@media (min-width: 794px){
    .hero{
        min-height: 100vh;
        padding-top: 350px;
        &__background {
            height: 100%;
        }
        .container-principal-texto-hero{
            &__personagens-principais{
                li{
                    width: 100%;
                    text-align: center;
                    font-size: 1rem;
                }
            }
        }
    }
    .tesseract{
        min-height: 120vh;
    }
    .resumo-filme{
        &__texto-sobre{
            p{
                font-size: 1rem !important;
                line-height: 30px !important;
            }
        }
        &__imagens-filme{
            width:100%;
        }
    }
    .carousel-inner{
        .carousel-item{
            backdrop-filter: brightness(0.5) !important;
            img{
                object-fit:cover !important;
                background-position: center !important;
            }
        }
        .carousel-item.active{
            backdrop-filter: brightness(0.5) !important;
        }
        &__descricao-personagem{
            font-size: 1rem !important;
            line-height: 30px !important;
            }
        }
    .onde-posso-assistir{
        .container{
            .streaming{
                width: 50%;
            }
        }
    }
    }